<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="file">/usr/local/tomcat/apache-tomcat-8.0.17/logs/auction.log</Property>
        <Property name="pattern">%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>
        <File name="File" fileName="${file}">
            <PatternLayout pattern="${pattern}"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace" additivity="false">
            <AppenderRef ref="Console" level="error"/>
            <AppenderRef ref="File" level="trace"/>
        </Root>
    </Loggers>
</Configuration>